function Point.print 2
push argument 0
pop pointer 0
push constant 5
call Array.new 1
pop local 0
push constant 0
return
function Point.a 0
push argument 0
pop pointer 0
push constant 1
return
